<div class="row">
  <div class="col s6 m6">
    <div class="card orange darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @student.name%></span>
        <span><%= @student.email %></span>
        <br>
        <span>Course Enrollment: none</span>
      </div>
      <div class="card-action blue">
        <div class="row">
          <div class="col s6 m6">
            <%= link_to "STUDENT LIST", students_path %>
          </div>
          <div class="col s6 m6">
            <% if current_user == @student %>
              <%= link_to "UPDATE PROFILE", edit_student_path(@student) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>