<div class="row">
  <div class="col s6 m6">
    <div class="card orange darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @student.name%></span>
        <span><%= @student.email %></span>
        <br>
        <span>Course Enrollment: none</span>
      </div>
      <div class="card-action blue">
        <div class="row">
          <div class="col s6 m6">
            <a href="">Update profile</a>
          </div>
          <div class="col s6 m6">
            <a href="">Student List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>