<h1><b>Courses List</b></h1>

<ul>
  <li>Code: SD01</li>
  <li>Name: Software Engineering</li>
  <li>Description: Overview of software development process.</li>
</ul>

<ul>
  <li>Code: SD02</li>
  <li>Name: Software Engineering in deep</li>
  <li>Description: Extended software development process.</li>
</ul>