<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Tech University</h5>
      <p class="grey-text text-lighten-4">Build your future in IT.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text"></h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2019 Tech University
  <a class="grey-text text-lighten-4 right" href="#!">Address/Location</a>
  </div>
</div>